<section class="signup mt-5">
            <div class="container">
                <div>
                    <div class="signup-form">
                        <h2 class="form-title mt-4">Sign up</h2>
                        <form method="POST" action="/user/signup" class="register-form" id="sign-up">
                            <div class="form-group">
                                {{#if err}}
                                <p class="text-danger">{{message}}</p>
                                {{/if}}
                                <span class="text-danger" id="signname"></span>
                                <label for="name"></label>
                                <input name="name" id="signname" placeholder="Name"/>
                                <span class="text-danger" id="signnameerror"></span>
                            </div>
                            <div class="form-group">
                                <label for="mobile"></label>
                                <input name="mobile" id="signphone" placeholder="Phone Number"/>
                                <span class="text-danger" id="signnumerror"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"></label>
                                <input name="email" id="signmail" placeholder="Email"/>
                                <span class="text-danger" id="signmailerror"></span>
                            </div>
                            <div class="form-group">
                                <label for="pass"></label>
                                <input type="password" name="pass" id="signpass" placeholder="Password"/>
                                <span class="text-danger" id="signpasserror"></span>
                            </div>
                           
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Register"/>
                            </div>
                            <div>
                                <a href="/user/login" class="signup-image-link">I am already member</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script src="/script/signup.js"></script>